{% extends 'line/base.html' %}
{% block body %}
<form method="POST" action="save">
    {% csrf_token %}
    <div id="items">
        {%csrf_token%}
        {{ line_form }}
        <br><br><input type="button" class="btn btn-success" value="Add one more station" id="add"><br><br>
        {{station_form}}
        <!-- loading google map is modal.html -->
        {% include "line/modal.html" %}
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Save all">
</form>
{% endblock %}



{% block scripts %}
<script src="/static/line/add-station.js"></script>
<script src="/static/line/add-location.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-Lz7C_9hBWQ7G2XBFVm8VFRZ_xSvG3lM&callback=initMap" async
    defer></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}