body {
    background-color: lightyellow
}
#add-line {
    float: right;
    margin-right:70px; 
    margin-bottom: 0px;
}

#map {
    height: 500px;
    width: 100%;
}

#station {
    display: none;
}
#line {
    display: none;
}
#line-list p {
    text-align: center;
}
.glyphicon-remove {
    cursor:pointer;
}
.glyphicon-edit {
    cursor:pointer;
}
.logo-image img{
    height: 30px;
}